$grey-border-color: #e8e8e8;
$pale-yellow: #fffce0;
$pale-gray: #f2f2f2;
$dark-gray: #546e7a;
$darker-gray: #4A616C;
$pale-blue: #d1e2ff;
$gray: #9e9e9e;
$pale-mint-green: #f4fff2;

/**** GENERAL CSS ****/
.body-content {
    width: 1024px;
    margin: auto;
    padding-bottom: 100px;
}

a:hover {
    text-decoration: none;
}

.page-title-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

/**** SIGN UP FORM CSS ****/
.signup-form-wrapper {
    display: flex;
    justify-content: center;
}

.signup-form {
    width: 300px;
}

.submit-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

/**** LOGIN FORM CSS ****/
.login-form-wrapper {
    display: flex;
    justify-content: center;
}

.login-form {
    width: 300px;
}

/**** MATHJAX CSS ****/
.mathjax-textarea-input {
    width: 100%;
}

/**** SCHOOL LIST CSS ****/
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-wrapper {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 30%;
    height: 200px;
}

.card {
    height: 100%;
    width: 100%;
    padding: 20px;
    color: white;
    text-decoration: none;
    background-color: $dark-gray;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

.card:hover {
    background-color: $darker-gray;
}

.card-link:hover {
    text-decoration: none;
    margin-top: 0px;
}

.card-link-text {
    margin-top: 0px;
}

/**** COURSE LIST CSS ****/
.card.course-card {
    flex-direction: column;
}


/**** HOMEWORK CSS ****/
.post {
    border: 1px solid $grey-border-color;
    background-color: $pale-gray;
    padding: 10px;
    margin-top: 10px;
    border-radius: 4px;
    box-sizing: border-box;
}

.next-btn-wrapper {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

/**** NEW POST CSS ****/
.hidden-buffer {
    position: absolute;
    bottom: 0px;
    right: 0px;
    visibility: hidden;
}

$x-btn-width: 128px;
.row {
    border: 1px solid black;
    height: $x-btn-width;
    display: flex;
    flex-direction: row;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.preview-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.x-btn {
    height: $x-btn-width;
    width: $x-btn-width;
}

.delete-btn-wrapper {
    display: flex;
    flex-direction: column;
    width: $x-btn-width;
}

.input {
    width: 100%;
    height: 100%;
}

.x-btn:hover {
    cursor: pointer;
}

/**** VIEW POST CSS ****/
.hidden-step {
    display: none;
}

.answer-separator {
    border-top: 2px solid $gray;
}

.step-chunk {
    // border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.step-chunk:not(:first-child) {
    padding-top: 10px;
    border-top: 1px solid $gray;
}
