{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}

    <div class="page-title-wrapper">
        <div class="page-title">
            <h1 class="jumbo-title">Well, this is awkward.</h1>
            <br/>
            <img class="rounded-corners" src="https://media.giphy.com/media/14dXclYKbx2ONW/giphy.gif"/>
            <h2>We couldn't find the page you were looking for.</h2>
            <h2>Let's try again by going back to the homepage.</h2>
        </div>
    </div>

    <div class="call-to-action-wrapper">
        <a class="btn btn-primary" href="/index">Back to Home &raquo;</a>
    </div>

{% endblock %}

{% block body_scripts %}
{% endblock %}
