{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}
    <h1 class="center-text spacious"><b>As a college student, you've been there.</b></h1>
    <p class="narrative-paragraph spacious">
        You start off the semester strong, with high confidence that you're going to get all your homework turned in and ace all your tests.
    </p>
    <img class="centered-pic spacious" src="https://media.giphy.com/media/3oriNUhx4FLc707jq0/giphy.gif" alt="spongebob sunglasses"> </p>

    <h1 class="center-text spacious"><b>Then midterms come around.</b></h1>
    <p class="narrative-paragraph spacious">
        You realize that you didn't have as much time to study as you thought. And sure enough, your test score is much lower than you had originally hoped.
    </p>
    <img class="centered-pic spacious" src="https://media.giphy.com/media/4LsN0YwgIsvaU/giphy.gif" alt="michael scott mad">

    <h1 class="center-text spacious"><b>The semester starts ramping up.</b></h1>
    <p class="narrative-paragraph spacious">
        You feel like you're falling behind trying to keep up with homework, projects, quizzes, tests, extra-curricular activities, exercising, social life and general well-being.
    </p>
    <img class="centered-pic spacious" src="https://media.giphy.com/media/15ddqrBmBRwsg/giphy.gif" alt="leslie knope everything hurts">

    <h1 class="center-text spacious"><b>You're confused on class material.</b></h1>
    <p class="narrative-paragraph spacious">
        Things just aren't making sense, finals week is approaching, and you're just hoping to pass the class.
    </p>
    <img class="centered-pic spacious" src="https://media.giphy.com/media/KDRv3QggAjyo/giphy.gif" alt="peter parker crying">

    <h1 class="center-text spacious"><b>This problem is what Answer Harbor solves.</b></h1>
    <img class="centered-pic spacious" src="http://media.giphy.com/media/EvWx1BeeRyyJi/giphy.gif" alt="barney whaat">

    <p class="narrative-paragraph spacious">
        Answer Harbor gives you homework solutions for your <b>exact</b> class, anywhere, anytime.
    </p>
    <h1 class="center-text spacious"><b>For free.</b></h1>
    <img class="centered-pic spacious" src="https://media.giphy.com/media/ELTNW5yGKbn9K/giphy.gif" alt="steve harvey surprised">

    <div class="spacious call-to-action-btn-wrapper">
        <a class="btn btn-success btn-lg" href="/select_school">Find my Class!</a>
        <a class="btn btn-primary small-left-margin btn-lg" href="/how_it_works">How it Works</a>
    </div>

{% endblock %}

{% block body_scripts %}
{% endblock %}
