{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}

    <div>
        <h1>As college students, we've all been there.</h1>
        <p>We start off the semester strong, with unwavering confidence that we're going to get all our homework turned in, ace
            all our tests, and everything's gonna be great. </p>
        <p>
            <img src="https://media.giphy.com/media/3oriNUhx4FLc707jq0/giphy.gif" alt="spongebob sunglasses"> </p>
        <p>Soon enough midterms come around, you realize that you didn't have enough time to study as you thought. You get your
            test back and your test score is much lower than you originally hoped.</p>
        <p>
            <img src="https://media.giphy.com/media/4LsN0YwgIsvaU/giphy.gif" alt="michael scott mad">
        </p>
        <p>At this point, things are ramping up in the semester, you feel like you're falling behind trying to keep up with homework,
            projects, quizzes, tests, extra-curricular activities, exercising, social life and general well-being.</p>
        <p>
            <img src="https://media.giphy.com/media/15ddqrBmBRwsg/giphy.gif" alt="leslie knope everything hurts">
        </p>
        <p>Things aren't making sense, you're confused on the material, and so far behind that it would be embarrassing to ask the
            professor for help during office hours. Finals week is approaching and you're just hoping to pass the class.</p>
        <p>
            <img src="https://media.giphy.com/media/KDRv3QggAjyo/giphy.gif" alt="peter parker crying">
        </p>
        <p>You might be thinking of just giving up, but there's hope.</p>
        <p>
            <img src="http://media.giphy.com/media/EvWx1BeeRyyJi/giphy.gif" alt="barney whaat">
        </p>
        <p>This problem is what Answer Harbor solves. Instead of wasting time struggling through homeworks, you can look at homework
            solutions for homework
            <strong>in your exact class</strong>. This way you can actually learn from homeworks, and not struggle through them.</p>
        <p>
            <img src="https://media.giphy.com/media/ELTNW5yGKbn9K/giphy.gif" alt="steve harvey surprised">
        </p>
    </div>

    <div>
        <button type="button" class="btn btn-primary">How does this work?</button>
    </div>

{% endblock %}

{% block body_scripts %}
{% endblock %}
