<html>

<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->
    {% if not config['DEBUG'] and not current_user.is_admin %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106576723-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments)};
            gtag('js', new Date());

            gtag('config', 'UA-106576723-1');
        </script>
    {% endif %}

    <title>Answer Harbor</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="shortcut icon" href="/static/img/favicon.ico"/>

    {% block head_scripts %}
    {% endblock %}
</head>

<body>
    <div class="body-content container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <a class="navbar-brand" href="/index">Answer Harbor (Admin)</a>
                    {% else %}
                        <a class="navbar-brand" href="/index">Answer Harbor</a>
                    {% endif %}
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!-- <li><a href="#">About</a></li> -->
                        <!-- <li><a href="#">Contact</a></li> -->

                        {% if current_user.is_authenticated and current_user.is_admin %}

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="/references" target="_blank">References</a></li>
                                <li><a href="/recover">Recover Question</a></li>
                            </ul>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                            <li><p class="navbar-text">Welcome, {{current_user.username}}</p></li>
                            <li><a href="/logout">Log Out</a></li>

                            <!-- Reserved for when there's more than one option when user is logged in -->
                            <!-- <li class="dropdown"> -->
                                <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{current_user.username}} <span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/logout">Log Out</a></li>
                                </ul> -->
                            <!-- </li> -->
                        {% else %}
                            <li><a href="/signup">Sign Up</a></li>
                            <li><a href="/login">Log In</a></li>
                        {% endif %}
                    </ul>
                </div>
                <!--/.nav-collapse -->
            </div>
            <!--/.container-fluid -->
        </nav>

        <div>
            {% if breadcrumbs|length > 0 %}
                <ul class="breadcrumb">
                    {% for breadcrumb in breadcrumbs %}
                        <li>
                            <a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        {% block content %}
        {% endblock %}
    </div>

    <footer class="site-footer">
        <div class="footer-wrapper">
            <div>
                <a class="footer-link" href="/about">About</a>
            </div>
            <div>
                <a class="footer-link" href="/how_it_works">How it Works</a>
            </div>
            <div>
                <a class="footer-link" href="/contact">Contact</a>
            </div>
            <div>
                <a class="footer-link" href="/terms_of_service">Terms of Service</a>
            </div>
        </div>
    </footer>

    <!-- Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.js"></script>
    <script src="https://unpkg.com/vue@2.4.1/dist/vue.js"></script>
    <script src="https://unpkg.com/vee-validate@2.0.0-rc.7/dist/vee-validate.js"></script>
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

    <!-- Vue Files -->
    <script type="text/javascript" src="/static/js/vue/util.js"></script>
    <script type="text/javascript" src="/static/js/vue/form_helpers.js"></script>

    <!-- Vue Components -->
    <script type="text/javascript" src="/static/js/vue/components/test.js"></script>
    <script type="text/javascript" src="/static/js/vue/components/BasicMathjaxInput.js"></script>
    <script type="text/javascript" src="/static/js/vue/components/StepMathjaxInput.js"></script>
    <script type="text/javascript" src="/static/js/vue/components/StepMathjaxPreview.js"></script>
    <script type="text/javascript" src="/static/js/vue/components/BasicMathjaxPreview.js"></script>
    <script type="text/javascript" src="/static/js/vue/components/StringInput.js"></script>
    <script type="text/javascript" src="/static/js/vue/components/InputHelpers/LinkButton.js"></script>
    <script type="text/javascript" src="/static/js/vue/components/InputHelpers/ImageButton.js"></script>
    <script type="text/javascript" src="/static/js/vue/components/InputHelpers/DegreeButton.js"></script>

    <!-- Mathjax -->
    <script type="text/javascript" src="/static/js/mathjax/MathjaxInput.js"></script>
    <script type="text/javascript" src="/static/js/mathjax/MathjaxPreview.js"></script>
    <script type="text/javascript" src="/static/js/mathjax/StepGroup.js"></script>
    <script type="text/javascript" src="/static/js/mathjax/StepPreview.js"></script>
    <script type="text/javascript" src="/static/js/mathjax/AnswerGroup.js"></script>

    <!-- Vanilla Javascript -->
    <script src="/static/js/build.js"></script>

    <!-- Autosave -->
    <script src="/static/js/autosave/AutoSavedPost.js"></script>
    <script src="/static/js/autosave/PostStorage.js"></script>
    <script src="/static/js/autosave/global.js"></script>

    {% block body_scripts %}
    {% endblock %}
</body>

</html>
