{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}

    <div class="page-title-wrapper">
        <div class="page-title">
            <h1 class="jumbo-title">If you have any questions, comments, concerns or feedback, email me at:</h1>
            <br/>
            <h1 class="dark-gray">answerharbor@gmail.com</h1>
        </div>
    </div>

    <br/>
    <br/>

    <div class="call-to-action-wrapper">
        <a class="btn btn-primary" href="/index">Back to Home &raquo;</a>
    </div>

{% endblock %}

{% block body_scripts %}
{% endblock %}
