{% extends 'base.html' %}

{% block content %}
    {% if homeworks|length > 0 %}
        <div class="page-title-wrapper">
            <div class="page-title">
                <h1>Select your Homework:</h1>
            </div>
        </div>

        <div class="card-list">
            {% for homework in homeworks %}
                <div class="card-wrapper">
                    <a class="card-link" href="{{ url_for('homework', homework_id=homework.id) }}">
                        <div class="card course-card">
                            <div>
                                <h2 class="card-link-text">{{ homework.title }}</h2>
                            </div>
                            <div>
                                <h4 class="light-gray card-link-date">Due: {{ homework.pretty_date() }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="page-title-wrapper">
            <div class="page-title">
                {% if current_user.is_authenticated and current_user.is_admin %}
                    <h2>There's no homeworks for this course yet. Homeworks you add to this course will be listed here.</h2>
                {% else %}
                    <h2>Hmm, looks like there aren't any homeworks for this course yet. That might change though, so check back soon!</h2>
                {% endif %}
            </div>
        </div>
    {% endif %}

    {% if current_user.is_authenticated and current_user.is_admin %}
        <br/>
        <a class="btn btn-primary" role="button" href="{{ url_for('new_homework', course_id=course_id) }}">New Homework</a>
    {% endif %}
{% endblock %}
