{% extends 'base.html' %}

{% block head_scripts %}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>

{% endblock %}

{% block content %}
    {% if current_user.is_authenticated and current_user.is_admin %}
        <a class="btn btn-default" role="button" href="{{ url_for('edit_homework', homework_id=homework.id) }}">Edit Homework</a>
        <a class="btn btn-default confirm-homework-delete" role="button" href="{{ url_for('delete_homework', homework_id=homework.id, course_id=homework.course.id) }}">Delete Homework</a>
    {% endif %}

    {% if posts|length > 0 %}
        <h2>Select your Question:</h2>
        {% for post in posts %}
            <div class="post">
                <span><a href="/post/{{ post.id }}">{{ post.question }}</a></span><br>
            </div>
        {% endfor %}
    {% else %}
        <h2>Hmm, looks like this homework doesn't have any answers yet. Check back soon.</h2>
    {% endif %}

    {% if current_user.is_authenticated and current_user.is_admin %}
        <br/>
        <a class="btn btn-primary" role="button" href="{{ url_for('new_post', homework_id=homework.id) }}">New Question + Answer</a>
    {% endif %}
{% endblock %}
