{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}

    <div class="page-title-wrapper">
        <div class="page-title">
            <h1>In every class, there's smart students.</h1>
            <h3 class="dark-gray">Then there's the rest of us, just trying to pass the class.</h3>

            <br/>

            <h1>Smart students post answers to <b>your</b> homeworks.</h1>
            <h3 class="dark-gray">You see the step-by-step answers, and <i>actually learn</i>.</h3>

            <br/>

            <h1>If you want to make money by posting answers, email me at:</h1>
            <h2 class="dark-gray">answerharbor@gmail.com</h2>

            <br/>

            <h1>Otherwise, start browsing those answers:</h1>
            <br/>
            <div class="call-to-action-wrapper">
                <a class="btn btn-primary" href="/select_school">Select Your School &raquo;</a>
            </div>

        </div>
    </div>



{% endblock %}

{% block body_scripts %}
{% endblock %}
