{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}

    <div class="page-title-wrapper">
        <div class="page-title">
            <h1 class="center-text spacious"><b>In every class, there's students who do well.<br/>The "A" students.</b></h1>
            <p class="narrative-paragraph spacious">
                Then there's the rest of us, just needing to pass the class for our major.
            </p>


            <h1 class="center-text spacious"><b>The A students <a href="/posting_answers">get paid</a> to post answers to <b>your</b> homeworks.</b></h1>
            <p class="narrative-paragraph spacious">
                    You view these step-by-step answers, and <i>actually learn</i>.
            </p>


            <h1></h1>
            <h1 class="center-text spacious"><b>Not sold yet? Browse some answers and see for yourself.</b></h1>
            <br/>
            <div class="call-to-action-wrapper spacious">
                <a class="btn btn-primary btn-lg" href="/select_school">Browse Answers &raquo;</a>
            </div>

        </div>
    </div>



{% endblock %}

{% block body_scripts %}
{% endblock %}
