{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}

    <div class="page-title-wrapper">
        <div class="page-title">
            <h1>Select your School:</h1>
        </div>
    </div>
    <div class="school-list-wrapper">
        <div class="school-list">
            {% for school in schools %}
                <div class="card-wrapper">
                    <a class="card-link" href="/school/{{ school.id }}">
                        <div class="card">
                            <h2 class="card-link-text">{{ school.full_name }}</h2>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}

{% block body_scripts %}
{% endblock %}
