{% extends 'base.html' %}

{% block content %}

<div class="page-title-wrapper">
    <div class="page-title">
        <h1>Log In</h1>
    </div>
</div>

<div class="login-form-wrapper">
    <div class="login-form">
        <form action="/login" method="POST">
            {{ form.hidden_tag() }}

            {{ form.username.label }}<br>
            {{ form.username(class="form-control", placeholder='Username') }}
            {% for error in form.username.errors %}
                <div>
                    <span class="text-muted">{{ error }}</span>
                </div>
            {% endfor %}
            <br>

            {{ form.password.label }}<br>
            {{ form.password(class="form-control", placeholder='Password') }}
            {% for error in form.password.errors %}
                <div>
                    <span class="text-muted">{{ error }}</span>
                </div>
            {% endfor %}
            <br>

            {{ form.remember_me }} {{ form.remember_me.label }}<br>

            <div class="submit-btn-wrapper">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
