{% extends 'base.html' %}

{% block content %}
    <div class="page-title-wrapper">
        <div class="page-title">
            <h1>Create a New Homework:</h1>
        </div>
    </div>

    <div class="new-homework-form-wrapper">
        <div class="new-homework-form">
            <form action="{{ url_for('new_homework', course_id=course_id) }}" method="post">
                {{ form.hidden_tag() }}

                {{ form.title.label }}<br>
                {{ form.title(class="form-control") }}
                {% for error in form.title.errors %}
                    <div>
                        <span class="text-muted">{{ error }}</span>
                    </div>
                {% endfor %}

                <br/>

                {{ form.due_date.label }}<br>
                {{ form.due_date(class="datetimepicker form-control") }}
                {% for error in form.due_date.errors %}
                    <div>
                        <span class="text-muted">{{ error }}</span>
                    </div>
                {% endfor %}

                <div class="submit-btn-wrapper">
                    <input class="btn btn-primary" type='submit' value='Create'/>
                </div>
            </form>
        </div>
    </div>

{% endblock %}

{% block body_scripts %}
    <!--Purposely load datetime picker css right before javascript-->
    <link rel="stylesheet" href="/static/css/jquery.datetimepicker.min.css">
    <script src="/static/js/jquery.datetimepicker.full.min.js"></script>
    <script>
        $('.datetimepicker').datetimepicker();
    </script>
{% endblock %}
