{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}


{% block content %}
    <div id="app">
        <form method="post" action="{{ url_for('new_post', homework_id=homework_id) }}">

            <h1>Create New Post:</h1>

            <h3>Question:</h3>
            <div class="question-wrapper">
                <div class="row">
                    <div class="input-wrapper">
                        <textarea v-validate="'required'" :name="question.inputNameID" class="input" v-model="question.text" @keyup="update(question)"></textarea>
                        <span v-show="errors.has(question.inputNameID)" v-text="errors.first(question.inputNameID)"></span>
                    </div>
                     <div class="preview-wrapper">
                        <p :id="question.bufferID" v-text="question.text" class="hidden-buffer"></p>
                        <p class="preview" :id="question.previewID" v-html="question.html"></p>
                    </div>
                </div>
            </div>

            <h3>Solution:</h3>
            <div class="steps-wrapper">
                <div class="row" v-for="step in stepGroup.steps">
                    <div class="input-wrapper">
                        <textarea v-validate="'required'" :name="step.inputNameID" class="input" v-model="step.text" @keyup="update(step)"></textarea>
                        <span v-show="errors.has(step.inputNameID)" v-text="errors.first(step.inputNameID)"></span>
                    </div>
                    <div class="preview-wrapper">
                        <p :id="step.bufferID" v-text="step.text" class="hidden-buffer"></p>
                        <p class="preview" :id="step.previewID" v-html="step.html"></p>
                    </div>
                    <div class="delete-btn-wrapper">
                        <img @click="deleteStep(step)" class="x-btn" src="/static/img/x-btn.png"/>
                    </div>
                </div><br/>

                <button type="button" @click="addNewStep">New Step</button>
            </div>
            <br/>
            <input @click="validateBeforeSubmit($event)" type='submit' value='Submit Post'/>
        </form>
    </div>



{% endblock %}

{% block body_scripts %}
    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
    </script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type="text/javascript" src="/static/js/vue/util.js"></script>
    <script type="text/javascript" src="/static/js/vue/mathjax.js"></script>
    <script type="text/javascript" src="/static/js/vue/new_post_app.js"></script>
{% endblock %}
