{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}

    <div class="page-title-wrapper">
        <div class="page-title">
            <h1 class="center-text spacious">You can <b>make money</b> by posting answers to Answer Harbor.</h1>

            <h1 class="center-text spacious">If you're interested in getting paid to post homework answers, or could use some more detail, send an email to:</h1>

            <h1 class="center-text spacious"><b>answerharbor@gmail.com</b></h1>

            <h1 class="center-text spacious">with your name and class you are in.</h1>
        </div>
    </div>



{% endblock %}

{% block body_scripts %}
{% endblock %}
