{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}
    <div id='app'>
        <span id='post-id' style="visibility: hidden">{{ post.id }}</span>
        <br/>
        <br/>
        {% if current_user.is_authenticated and current_user.is_admin %}
            <a href="{{ url_for('edit_post', post_id=post.id, homework_id=post.homework.id) }}">Edit</a>
            <a href="{{ url_for('delete_post', post_id=post.id, homework_id=post.homework.id) }}" class="confirm-link-click">Delete</a>
        {% endif %}

        <div class="post">
            <span>Q: {{ post.question }}</span><br/>
            <span>A:</span><br/>

            <div v-for="step in stepGroup.steps" :key="step.number" class="step-chunk" :class="{'hidden-step': !step.visible}">
                <div>
                    <p :id="step.previewID" class="preview" v-html="step.text"></p>
                </div>
            </div>

            <button @click="showNextStep" :disabled="!nextAvailable" v-if="!allStepsShowing">Next</button>
        </div>
    </div>

{% endblock %}

{% block body_scripts %}
    <script type="text/javascript" src="/static/js/vue/view_post_app.js"></script>
{% endblock %}
