{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}
    <div>
        <h1>Mathjax:</h1>
        <a href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference"><h3>Mathjax Quick Tutorial</h3></a>
        <a href="https://www.sharelatex.com/learn/List_of_Greek_letters_and_math_symbols"><h3>Greek Characters</h3></a>

        <br/>

        <h1>Markdown:</h1>
        <a href="https://en.support.wordpress.com/markdown-quick-reference/"><h3>Markdown Reference</h3></a>
    </div>
{% endblock %}

{% block body_scripts %}
{% endblock %}
