{% extends 'base.html' %}

{% block content %}
    {% if courses|length > 0 %}
        <div class="page-title-wrapper">
            <div class="page-title">
                <h1>Select your Class:</h1>
            </div>
        </div>

        <div class="card-list">
            {% for course in courses %}
                <div class="card-wrapper">
                    <a class="card-link" href="{{ url_for('course', course_id=course.id) }}">
                        <div class="card course-card">
                            <div>
                                <h2 class="card-link-text">{{ course.subject }} {{ course.number }}</h2>
                            </div>
                            <div>
                                <h4>Prof: {{ course.professor_name }}</h4>
                            </div>
                            <div>
                                <h4>{{ course.course_times }}</h4>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <div class="page-title-wrapper">
            <div class="page-title">
                <h2>Hmm, no classes could be found for this school. That might change though, so check back soon!</h2>
            </div>
        </div>
    {% endif %}

{% endblock %}
