{% extends 'base.html' %}

{% block content %}

<div class="page-title-wrapper">
    <div class="page-title">
        <h1>Sign Up</h1>
    </div>
</div>

<div class="signup-form-wrapper">
    <div class="signup-form">
        <form action="/signup" method="post">
            {{ form.hidden_tag() }}

            {{ form.username.label }}<br>
            {{ form.username(class="form-control", placeholder='Username') }}
            {% for error in form.username.errors %}
                <div>
                    <span class="text-muted">{{ error }}</span>
                </div>
            {% endfor %}
            <br>

            {{ form.email.label }}<br>
            {{ form.email(class="form-control", placeholder="Email") }}
            {% for error in form.email.errors %}
                <div>
                    <span class="text-muted">{{ error }}</span>
                </div>
            {% endfor %}
            <br>

            {{ form.password.label }}<br>
            {{ form.password(class="form-control", placeholder="Password") }}
            {% for error in form.password.errors %}
                <div>
                    <span class="text-muted">{{ error }}</span>
                </div>
            {% endfor %}
            <br>

            <label for="confirm_password">Confirm Password:</label><br>
            {{ form.confirm_password(class="form-control", placeholder="Confirm Password") }}
            {% for error in form.confirm_password.errors %}
                <div>
                    <span class="text-muted">{{ error }}</span>
                </div>
            {% endfor %}

            <div class="submit-btn-wrapper">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>

{% endblock %}
