{% extends 'base.html' %}

{% block head_scripts %}
{% endblock %}

{% block content %}

<h2>For Students:</h2>
<p>Answer Harbor was created as a study tool to help students with their homework. Answer Harbor was <b>not</b> created as a tool to help students cheat. If you use this website to cheat you are directly violating Answer Harbor's terms of service, and your account will be terminated immediately.</p>

<h2>For Educators:</h2>
<p>Answer Harbor is always seeking opportunities to work with educators in making this website a valuable resource for both you and your classroom. If you have any comments or concerns, please e-mail back at <b>answerharbor@gmail.com</b>.</p>
<p>The homework answers given on Answer Harbor must have <b>different</b> numbers than the actual homework problems assigned in classes. This encourages students to apply concepts learned in the homework solution and solve it themselves, instead of just copying the final answer.</p>


{% endblock %}

{% block body_scripts %}
{% endblock %}
