.mathjax-textarea-input {
  width: 100%; }

.post {
  border: 1px solid gray;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box; }

.post:not(:first-child) {
  margin-top: 20px; }

.body-content {
  width: 900px;
  margin: auto; }

/**** NEW POST CSS ****/
.hidden-buffer {
  position: absolute;
  bottom: 0px;
  right: 300px;
  visibility: hidden; }

.row {
  border: 1px solid black;
  height: 128px;
  display: flex;
  flex-direction: row; }

.input-wrapper {
  display: flex;
  flex-direction: column;
  width: 400px; }

.preview-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1; }

.x-btn {
  height: 128px;
  width: 128px; }

.delete-btn-wrapper {
  display: flex;
  flex-direction: column;
  width: 128px; }

.input {
  width: 100%;
  height: 100%; }

.x-btn:hover {
  cursor: pointer; }

/**** END NEW POST CSS ****/
