/**** GENERAL CSS ****/
.body-content {
  width: 1024px;
  margin: auto;
  padding-bottom: 100px; }

a:hover {
  text-decoration: none; }

.page-title-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px; }

.page-title {
  text-align: center; }

.center-text {
  text-align: center; }

/**** TEXT ****/
.light-gray {
  color: #B0B0B0; }

.dark-gray {
  color: #546e7a; }

/**** INDEX PAGE CSS ****/
.call-to-action-wrapper {
  display: flex;
  justify-content: center; }

.jumbo-title {
  font-size: 50px; }

/**** SIGN UP FORM CSS ****/
.signup-form-wrapper {
  display: flex;
  justify-content: center; }

.signup-form {
  width: 300px; }

.submit-btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px; }

/**** LOGIN FORM CSS ****/
.login-form-wrapper {
  display: flex;
  justify-content: center; }

.login-form {
  width: 300px; }

/**** MATHJAX CSS ****/
.mathjax-textarea-input {
  width: 100%; }

/**** SCHOOL LIST CSS ****/
.card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }

.card-wrapper {
  margin-right: 10px;
  margin-bottom: 10px;
  width: 30%;
  height: 200px; }

.card {
  height: 100%;
  width: 100%;
  padding: 20px;
  color: white;
  text-decoration: none;
  background-color: #546e7a;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2); }

.card:hover {
  background-color: #4A616C; }

.card-link:hover {
  text-decoration: none;
  margin-top: 0px; }

.card-link-text {
  margin-top: 0px; }

/**** COURSE LIST CSS ****/
.card.course-card {
  flex-direction: column; }

/**** HOMEWORK CSS ****/
.post {
  border: 1px solid #e8e8e8;
  background-color: #f2f2f2;
  padding: 10px;
  margin-top: 10px;
  border-radius: 4px;
  box-sizing: border-box; }

.next-btn-wrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center; }

/**** NEW/EDIT HOMEWORK CSS ****/
.btn-menu {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between; }

.new-homework-form-wrapper {
  display: flex;
  justify-content: center; }

.new-homework-form {
  width: 300px; }

/**** NEW POST CSS ****/
.popup-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0C0D0E;
  opacity: 0.3; }

.popup {
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px; }

.loading-spinner {
  max-height: 100px;
  margin: auto; }

.post-title-preview {
  margin-top: 3px; }

.hidden-buffer {
  position: absolute;
  bottom: 0px;
  right: 0px;
  visibility: hidden; }

.row {
  display: flex;
  justify-content: space-between;
  margin-left: 0px;
  margin-right: 0px; }

.input-wrapper {
  flex: 1; }

.input-area {
  flex: 1; }

.input-text-area {
  width: 100%; }

.preview-wrapper {
  width: 500px;
  margin-left: 15px; }

.x-btn {
  width: 40px; }

.delete-btn-wrapper {
  align-self: stretch;
  display: flex;
  align-items: center;
  width: 40px; }

.input {
  width: 100%;
  height: 100%; }

.x-btn:hover {
  cursor: pointer; }

.edit-post-space {
  margin-top: 20px; }

/**** VIEW POST CSS ****/
.hidden {
  display: none; }

.visibility-hidden {
  visibility: hidden; }

.hidden-step {
  display: none; }

.answer-separator {
  border-top: 2px solid #9e9e9e; }

.step-chunk {
  margin-bottom: 10px; }

.step-chunk:not(:first-child) {
  padding-top: 10px;
  border-top: 1px solid #9e9e9e; }

.preview.admin-preview img {
  max-height: 400px; }

.preview img {
  max-width: 1000px; }

.step-count {
  display: flex;
  justify-content: flex-end; }

.incorrect-red {
  color: #ef0013; }

.correct-green {
  color: #05a500; }
